#to do: add/remove once packages become relevant

mlflow==2.1.1
ipdb

#API
fastapi
pytz
uvicorn
# tests
httpx
pytest-asyncio

#cleaningdata
pandas
#from google.cloud import bigquery
numpy
matplotlib
pathlib

#preprocessing
scikit-learn
category_encoders

#model
xgboost
pickl
